.GameInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88vh;
}
#GameInfoImg{
    width: 500px;
    height: 300px;
}
.Download-Container{
    display: flex;
}
#GameInfoLink-light {
    font-size: 2rem;
    color: white;
    background-color: orangered;
    padding: 1rem 2rem;
}
#GameInfoLink-dark {
    font-size: 2rem;
    color: #302e2e;
    background-color: white;
    padding: 1rem 2rem;
}
.GameInfo-Side{
    padding-left: 5rem;
}
.GameInfoP {
    color: white;
}


/* ======================== Media ====================== */

@media screen and (max-width: 425px) {
    .GameInfo{
        display: grid;
        align-items: normal;
    }
    #GameInfoImg{
        width: 300px;
        height: 240px;
    }
    .GameInfo-Side,
    .GameInfo-Top{
        padding: 0.5rem;
    }
    .GameInfo-Side{
        position: absolute;
        bottom: 22rem;
    }
}