nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: orangered;
    width: 100vw;
    height: 8vh;
    z-index: 999;
}

.Toggle-Container {
    position: relative;
    margin-left: 40px;
    background-color: #fff;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.Toggle-Switcher {
  position: absolute;
  top: 3.5px;
  left: 3px;
  background-color: red;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.Toggle-Switcher-Moved {
  position: absolute;
  top: 3.5px;
  left: 42px;
  background-color: red;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}